p {
    font-family: 'Times New Roman';
    color: coral;
}

.posts .post-content h1{
    color: rgb(9, 114, 128);
    padding-bottom: 4px;
}

li{
    font-family: 'Times New Roman';
}

/* Nav Bar */
.container{
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 120px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 13px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    width: 100px;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 50px;
}

/*CONTENT*/
.content {
    margin: 30px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.post-content {
    width: 100%; 
}

.post-title a {
    font-family: Arial;
    font-size: 1.5rem;
}

.readMorebtn {
    border-radius: 0;
    padding: .3rem 1rem;
    background: #fcf3e3;
    font-size: small;
}

.pagination {
    justify-content: center;
    margin: 4rem 0;
}

.pagination a {
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: Lexend;
}

.pages {
    color: black;
}

.post-preview {
    font-family: 'Times New Roman';
    color: black;
    padding-top: .1px;
}

/*SIDEBAR*/
.category-list {
    font-family: Lexend;
}

.content .sidebar .category h2 {
    margin-left: 2rem;
}

.list-items {
    padding: .4rem .1rem;
    margin: .8rem 0;
    background: #ffd2cf;
    border-radius: 50px;
    width: 90%;
    display: flex;
}

.list-items a {
    color: black;
    margin-left: 5px;
}

.content .sidebar .popular-post .post-content {
    margin-top: 1rem;
}

.content .sidebar .popular-post a {
    font-size: small;
    margin-left: 3rem;
    color: black;
}

.content .sidebar .popular-post h2 {
    padding-top: 5rem;
    margin-left: 2rem;
}

.content .sidebar .popular-post .post-content img{
    height: 180px;
    width: 250px;
}

.content .posts .pagination a{
    color: black;
}

ul li.pages:hover a,
ul li.pages:active a 
{
    background: #7fc792;
}

#btnTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background-color: #7fc792;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
  }
 
/*SOURCE OF ARTICLE*/
.posts .post-content .source {
    font-family: 'Times New Roman';
    color: rgb(138, 120, 120);
}

.posts .post-content .source a{
    font-family: 'Times New Roman';
    color: blue;
    font-size: medium;
}

/*AUTHOR AND DATE*/
.postDetails {
    font-family: 'Times New Roman';
    margin-left: 4px;
}

