body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;

}

.sign-up-form{
    width: 300px;
    box-shadow: 0 0 3px rgb(0,0,0,0.3);
    background: #000;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.sign-up-form h1{
    color: #fff;
    margin-bottom: 30px;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

.sign-up-form p{
    color: #fff;
    font-size: 15px;
}

.sign-up-form input[type="submit"]{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.sign-up-form input[type="submit"]{
    background-color: #fb2525;
}

.sign-up-form input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

a{
    text-decoration: none;
    color: deepskyblue;
}

a:hover{
    color: #ffc107;
}

img{
    width: 70px;
    margin-top: -50px;
    border-radius: 50%;
}